<div class="datatable" ng-style="yourModelToProvideValue">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <!-- <li class="nav-item" style="margin-right:0%;">
          <a href="#" routerLink="/profile"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
        </li> -->
         <li class="nav-item">
          <a href="#" routerLink="/signup"><span class="glyphicon glyphicon-user" ></span> Add Client</a>
        </li> 
         <!-- <li class="nav-item" style="left:950px;">
          <a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
        </li> -->
      </ul>
    </div> 

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align: center">Clients List</h1><br>
        <div class="row" [hidden]="!deleteMessage">

                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                          <!-- <div class="alert alert-info alert-dismissible">
                                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                                  <strong>Client Data Deleted</strong>
                          </div> -->
                  </div>
                  <div class="col-sm-4"></div>
          </div>           
      </div>
     
    
    
    <div class="panel-body">
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"  >
            <thead class="thead-light">
                <tr>
                    <th>Customer Name</th>
                    <th>Company Name</th>
                    <th>Company emailId</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let client of clients; let i=index;">
                    <td>{{client.customerName}}</td>
                    <td>{{client.companyName}}</td>
                    <td>{{client.emailId}}</td>
                    <td>{{client.contactNumber}}</td>
                    <td>{{client.address}}</td>                                             
                    <td><button  class='btn btn-danger' data-toggle="modal" data-target="#deleteModal"><i class="fa fa-futboll-0" (click)="tempDeleteClient(client.companyName)" >Delete</i></button>&nbsp;
                      <button (click)="ClientSelected(client)" class='btn btn-primary'
                      data-toggle="modal" data-target="#myModal">Update</button>
                    </td>
                  </tr> 
            </tbody><br>
        </table>
    </div>
  </div> 

  <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
                  <form [formGroup]="clientupdateform">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title" style="text-align: center">Update Client</h4>  
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                  <div [hidden]="isupdated">

              <!-- <input type="hidden" class="form-control"  formControlName="clientId" [(ngModel)]="client.clientId"> -->
                    <div class="form-group">
                        <label for="customerName" class="sr-only">Customer Name</label>
                        <input formControlName="customerName" type="text" name="customerName"  class="form-control" placeholder="Enter Customer Name" [(ngModel)]="client.customerName">
                      </div>
                        <div class="form-group">
                          <label for="companyName" class="sr-only">Company Name</label>
                          <input formControlName="companyName" type="text" name="companyName"  class="form-control" placeholder="Enter Company Name" [(ngModel)]="client.companyName">
                        </div>
                        <div class="form-group">
                          <label for="emailId" class="sr-only">emailId</label>
                          <input formControlName="emailId" type="emailId" name="emailId"  class="form-control" placeholder="Enter Email Address" [(ngModel)]="client.emailId">
                        </div>
                        <div class="form-group">
                          <label for="contactNumber" class="sr-only">Phone Nubmer</label>
                          <input formControlName="contactNumber" type="number" name="contactNumber" class="form-control" placeholder="Enter Phone Nubmer" [(ngModel)]="client.contactNumber">
                        </div>
                        <div class="form-group">
                          <label for="address" class="sr-only">Address</label>
                          <input formControlName="address" type="text" name="address"  class="form-control" placeholder="Enter Location" [(ngModel)]="client.address">
                        </div>

                    <div [hidden]="!isupdated">
                        <h4>Client Details Updated!</h4>
                    </div>        
                      
              </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer" >
                <button type="submit" class="btn btn-success" [disabled]="isupdated">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
              </div>
              
          </form>
            </div>
          </div>
        </div>

        <div class="modal" id="deleteModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                
                <div [hidden]="isDeleted">
                  <h4>Are You Sure? You Want To Delete!</h4>
                </div>

                <div [hidden]="!isDeleted">
                  <h4>Client Deleted Successfuly.</h4>
                </div>
                
              </div>  
              </div>
              
              <div class="modal-footer" >
                <button type="submit" class="btn btn-success" [disabled]="isDeleted" (click)="deleteclient(deleteClientDetail)">Delete</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
              </div>
              </div>